@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?n73u2p');
	src:url('fonts/icons.eot?#iefixn73u2p') format('embedded-opentype'),
		url('fonts/icons.woff?n73u2p') format('woff'),
		url('fonts/icons.ttf?n73u2p') format('truetype'),
		url('fonts/icons.svg?n73u2p#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-google-plus:before {
	content: "\e601";
}
.icon-html5:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}
.icon-picture:before {
	content: "\e604";
}
.icon-reyescult:before {
	content: "\e605";
}
.icon-soundcloud:before {
	content: "\e606";
}
