/* Defaults */

* {
    margin: 0;
    padding: 0;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	min-width: 320px;
    &.loading {
        opacity:0;
    }
}

body {
    background: @body-bg-color;
    max-width: 1280px;
    margin: 0 auto;
    font-family: lato, sans-serif;
    font-size: @font-size-md;
    font-weight: 300;
    &.noTransitions {
        * {
            transition: none !important;
        }
    }
}

a {
    text-decoration: none;
}

/* Content Container */

div.cnt {
    max-width:1280px;
    margin: 0 auto;
    position: relative;
    &:before, &:after {
     content: ' ';
     display: table;
    }
    &:after {
        clear: both;
    }
}

/* Buttons */

button {
    background: @primary-color;
    border: 0;
    border-radius: 4px;
    color: @white;
    cursor: pointer;
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 14px;
    font-size: @font-size-sm;
    &:focus {
        outline: none;
    }
}

@-moz-document url-prefix() {
    
    button {
        line-height: 34px;
    }
    
}

/* IE Message */

p.ieMsg {
    color: @white;
    margin: 0 auto;
    padding: 48px;
    line-height: 24px;
    text-align: center;
    &:before {
        background: @primary-color;
        border-radius: 10px;
        content: '\e605';
        display: block;
        margin: 0 auto 18px;
        width: 128px;
        height: 128px;
        line-height: 128px;
        font-family: 'icons';
        font-size: 90px;
    }
    a {
        color: @primary-color-highlight;
    }
}