/* Contact */

section.contact {
    background: lighten(@header-bg-color, 5%);
    div.cnt {
        background: @contact-form-bg-color;
    }
    height: 0;
    transition: height 500ms;
    overflow: hidden;
    &.on {
        height: 384px;
    }
    form {
        padding: 24px;
    }
    input, textarea {
        border: 1px solid @contact-form-border-color;
        border-radius: 0;
        display: block;
        width: 360px;
        max-width: 100%;
        height: 36px;
        margin-bottom: 18px;
        padding: 0 8px;
        font-size: @font-size-sm;
        -webkit-appearance: none;
        &:focus {
            outline: none;
        }
    }
    textarea {
        height: 120px;
        padding: 6px 8px;
        resize: none;
    }
}