footer {
    background: @footer-bg-color;
    color: @footer-font-color;
    min-height: 60px;
    font-size: @font-size-xs;
    text-align: center;
}

div {
    &.social {
        height: 60px;
        a {
            color: @footer-link-color;
            width: 25%;
            height: 60px;
            float: left;
            overflow: hidden;
            &:before {
                display: block;
                width: 60px;
                height: 60px;
                line-height: 60px;
                margin: 0 auto;
                font-family: 'icons';
                font-size: 32px;
                text-align: center;
            }
            &:nth-child(1) {
                background: @facebook-icon-bg-color;
                &:before {
                    content: '\e600';
                }
            }
            &:nth-child(2) {
                background: @google-icon-bg-color;
                &:before {
                    content: '\e601';
                }
            }
            &:nth-child(3) {
                background: @soundcloud-icon-bg-color;
                &:before {
                    content: '\e606';
                }
            }
            &:nth-child(4) {
                background: @linkedin-icon-bg-color;
                &:before {
                    content: '\e603';
                }
            }
        }
    }
}

@media (max-width: 639px) {
    
    div {
        &.copyright {
            padding: 13px 0;
        }
    }
    
}

@media (min-width: 640px) {
    
    footer {
        padding: 0 24px;
        > div {
            display: table;
            width: 100%;
        }
    }
    
    div {
        &.social {
            position: absolute;
            top: 0;
            left: 0;
            a {
                width: 60px;
            }
        }
        &.copyright {
            display: table-cell;
            width: 100%;
            height: 60px;
            padding-left: 255px;
            vertical-align: middle;
            text-align: right;
        }
        p {
            display: inline-block;
        }
    }
    
}