header {
    background: @header-bg-color;
    color: @header-font-color;
    min-height: 60px;
    line-height: 60px;
    h1 {
        font-size: @font-size-lg;
        text-transform: uppercase;
        height: 60px;
        &:before {
            background: @primary-color;
            content: '\e605';
            width: 60px;
            height: 60px;
            margin-right: 14px;
            font-family: 'icons';
            font-size: 36px;
            float: left;
            text-align: center;
        }
        &:after {
            content: 'version 4.0';
            margin-left: 10px;
            font-size: @font-size-xs;
            font-weight: 300;
        }
    }
}

div {
    &.contact_menu {
        background: lighten(@header-bg-color, 10%);
        overflow: hidden;
        a {
            color: @header-link-color;
            display: inline-block;
            margin-right: -0.25em;
            &.send_email {
                cursor: pointer;
                position: relative;
                &:after {
                    border-right: 6px solid transparent;
                    border-bottom: 8px solid @contact-form-bg-color;
                    border-left: 6px solid transparent;
                    content: ' ';
                    margin-left: -3px;
                    position: absolute;
                    bottom: -8px;
                    left: 50%;
                    transition: bottom 500ms;
                }
                &.on {
                    &:after {
                        bottom: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 699px) {
    
    div {
        &.contact_menu {
            a {
                width: 33.33333333333333%;
                text-align: center;
                &:nth-child(n+2) {
                    border-left: 1px solid lighten(@header-bg-color, 25%);
                }
            }
            span {
                display: none;
            }
        }
    }
    
}

@media (min-width: 700px) {
    
    header {
        padding: 0 24px;
    }
    
    div {
        &.contact_menu {
            padding: 0 20px 0 16px;
            position: absolute;
            top: 0;
            right: 0;
            a {
                padding: 0 8px;
            }
        }
    }
    
}