/* Icons 1.0.0 */

@font-face {
  font-family: 'icons';
  src: url('/assets/font/icons/icons.eot?v=1.0.0');
  src: url('/assets/font/icons/icons.eot?#iefix&v=1.0.0') format('embedded-opentype'),
       url('/assets/font/icons/icons.woff?v=1.0.0') format('woff'),
       url('/assets/font/icons/icons.ttf?v=1.0.0') format('truetype'),
       url('/assets/font/icons/icons.svg?v=1.0.0#iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}