/* Modal */

div.modal {
    background: @modal-overlay-bg-color;
    padding: 0 24px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    overflow-y: auto;
    z-index: 1000;
}

@media (min-width: 768px) {
    
    div.modal {
        padding: 0 48px;
    }
    
}

div.mBox {
    background: @modal-dialog-bg-color;
    display: inline-block;
    max-width: 100%;
    margin: 24px 0;
    padding: 1px;
    position: relative;
}

@media (min-width: 768px) {
    
    div.mBox {
        margin: 48px 0;
    }
    
}

h3.mTitle {
    background: @modal-heading-bg-color;
    color: @modal-heading-font-color;
    height: 48px;
    line-height: 48px;
    margin-bottom: 1px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

img.mImage {
    display: block;
    max-width: 100%;
}

a.mClose {
    color: @modal-heading-font-color;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    position: absolute;
    top: 0;
    right: 12px;
    font-size: @font-size-sm;
    &:before {
        background: lighten(@modal-heading-bg-color, 20%) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAWElEQVQIW03NuxGEMBAD0JdhXwKuAKjgjv4LISKjDy6wPIOi1Wcl+GDBpGPCjALtvO4HKxr28AUqtgjHK1gFDb8Y33D07lE1Art8zhE2fWd9b5YcY6OGlz/wwyM3IW1JlAAAAABJRU5ErkJggg==) 50% no-repeat;
        border-radius: 2px;
        content: ' ';
        width: 17px;
        height: 17px;
        margin: 16px 6px 0 0;
        float: left;
    }
}