/* Samples Container */

div.samples {
    div.cnt {
        -mox-box-sizing: border-box;
        box-sizing: content-box;
        height: 60px;
        margin-top: -60px;
        transition: padding-top 500ms;
        overflow: hidden;
    }
    &.on {
        div.cnt {
            padding-top: 34.375%;
        }
    }
}

@media (max-width: 480px) {
    
    div.samples {
        &.on {
            div.cnt {
                padding-top: 125%;
            }
        }
    }
    
}

@media (max-width: 767px) {
    
    div.samples {
        div.cnt {
            height: 0;
            margin-top: 0;
            transition: height 500ms, padding-top 500ms;
        }
        &.on {
            div.cnt {
                height: 60px;
            }
        }
    }
    
}

/* Slider */

div.slider {
    width: 100%;
    padding-top: 34.375%;
    position: absolute;
    top: 60px;
    ul {
        background: @light-gray;
        width: 500%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
    }
    li {
        list-style: none;
        width: 20%;
        height: 100%;
        float: left;
        a {
            background: darken(@light-gray, 5%);
            box-shadow: inset 0 0 0 12px @white, 8px 8px 0 darken(@light-gray, 7.5%);
            width: 21.09375%;
            height: 81.81818181818183%;
            margin: 3.125% 0 0 03.125%;
            text-indent: -1000px;
            float: left;
            overflow: hidden;
        }
    }
}

@media (max-width: 480px) {
    
    div.slider {
        padding-top: 125%;
        li {
            a {
                margin: 7.5% 0 0 7.5%;
                width: 38.75%;
                height: 41%;
            }
        }
    }
    
}

/* Slide Indicators */

div.slide_indicators {
    background: @light-gray;
    height: 60px;
    padding: 0 7px;
    position: absolute;
    top: 0;
    text-align: center;
    transition: top 500ms;
    z-index: 1;
    a {
        display: inline-block;
        background: @primary-color-secondary-accent;
        border-radius: 18px;
        width: 36px;
        height: 0;
        margin: 12px 7px;
        padding-top: 36px;
        overflow: hidden;
        transition: background 500ms;
        &.active {
            background: @primary-color-highlight;
        }
    }
}

div.samples {
    &.on {
        div.slide_indicators {
            top: -60px;
        }
    }
}

@media (max-width: 767px) {
    
    div.slide_indicators {
        border-radius: 16px 16px 0 0;
        left: 50%;
        margin-left: -132px;
    }
    
    div.samples {
        &.web {
            background: @web-bg-color-lighten;
        }
        &.print {
            background: @print-bg-color;
        }
    }
    
}

@media (min-width: 768px) {

    div.slide_indicators {
        border-radius: 30px 30px 0 0;
    }
    
    div.samples {
        &.web {
            div.slide_indicators {
                right: 25px;
            }
        }
        &.print {
            div.slide_indicators {
                left: 198px;
            }
        }
    }
    
}

@media (min-width: 1080px) {
    
    div.samples {
        &.web {
            div.slide_indicators {
                right: 52px;
            }
        }
        &.print {
            div.slide_indicators {
                left: 288px;
            }
        }
    }
    
}

/* Web Samples */

div.web.samples {
    
    li {
        a {
            background: url(/assets/img/web/web_samples.jpg) no-repeat 100%;
            background-size: 500% 500%;
            &.sas {
                background-position: 0 0;
            }
            &.soma {
                background-position: 25% 0;
            }
            &.offshoot {
                background-position: 50% 0;
            }
            &.reactive {
                background-position: 75% 0;
            }
            &.skyline {
                background-position: 100% 0;
            }
            &.metro {
                background-position: 0% 25%;
            }
            &.elegant {
                background-position: 25% 25%;
            }
            &.rrmV3 {
                background-position: 50% 25%;
            }
            &.skin14a {
                background-position: 75% 25%;
            }
            &.skin12a {
                background-position: 100% 25%;
            }
            &.dentalmatrix {
                background-position: 0% 50%;
            }
            &.icontrol {
                background-position: 25% 50%;
            }
            &.frame-selector {
                background-position: 50% 50%;
            }
            &.irefer {
                background-position: 75% 50%;
            }
            &.chiromatrix-v2 {
                background-position: 100% 50%;
            }
            &.prosport {
                background-position: 0% 75%;
            }
            &.chiromatrix {
                background-position: 25% 75%;
            }
            &.skin09a {
                background-position: 50% 75%;
            }
            &.beyond {
                background-position: 75% 75%;
            }
            &.living {
                background-position: 100% 75%;
            }
            &.capone-flm {
                background-position: 0 100%;
            }
            &.capone-auto-a {
                background-position: 25% 100%;
            }
            &.capone-auto-b {
                background-position: 50% 100%;
            }
            &.capone-dealer {
                background-position: 75% 100%;
            }
        }
    }
}

/* Print Samples */

div.print.samples {
    
    li {
        a {
            background: url(/assets/img/print/print_samples.jpg) no-repeat 100%;
            background-size: 500% 500%;
            &.sas {
                background-position: 0 0;
            }
            &.seo {
                background-position: 25% 0;
            }
            &.gen3 {
                background-position: 50% 0;
            }
            &.dcp {
                background-position: 75% 0;
            }
            &.prescription {
                background-position: 100% 0;
            }
            &.fng {
                background-position: 0% 25%;
            }
            &.hummer {
                background-position: 25% 25%;
            }
            &.vivify {
                background-position: 50% 25%;
            }
            &.success {
                background-position: 75% 25%;
            }
            &.pcard {
                background-position: 100% 25%;
            }
            &.scholarship {
                background-position: 0% 50%;
            }
            &.bravura {
                background-position: 25% 50%;
            }
            &.o22 {
                background-position: 50% 50%;
            }
            &.reyescult {
                background-position: 75% 50%;
            }
            &.ironworkers {
                background-position: 100% 50%;
            }
            &.write {
                background-position: 0% 75%;
            }
            &.pillow {
                background-position: 25% 75%;
            }
            &.martian {
                background-position: 50% 75%;
            }
            &.brotherhood {
                background-position: 75% 75%;
            }
            &.hero {
                background-position: 100% 75%;
            }
        }
    }
}