/* Summary */

div.summary {
    div.cnt {
        padding: 48px 24px;
    }
    h2 {
        display: table-cell;
        position: relative;
        font-size: (@font-size-lg * 2);
        font-weight: 300;
        line-height: 60px;
        text-transform: uppercase;
        &:before {
            border-radius: 4px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-family: 'icons';
            font-size: 36px;
            float: left;
            text-align: center;
        }
        span {
            display: inline-block;
            height: 60px;
            line-height: 78px;
            position: absolute;
            left: 0;
            -ms-transform: rotate(270deg);
            -ms-transform-origin: top left;
            -webkit-transform: rotate(270deg);
            -webkit-transform-origin: top left;
            transform: rotate(270deg);
            transform-origin: top left;
        }
    }
    div.caption {
        display: table-cell;
        line-height: 1.5;
        font-size: @font-size-sm;
        vertical-align: top;
        p {
            margin-top: -5px;
        }
        p + p, h4, ul {
            margin-top: 14px;
            list-style: none;
        }
        button {
            margin-top: 19px;
            position: relative;
            z-index: 3;
        }
    }
}

@media (max-width: 767px) {
    
    div.summary {
        div.caption {
            padding-left: 24px;
        }
    }
    
}

@media (min-width: 768px) {
    
    div.summary {
        div.cnt {
            padding: 80px 48px;
        }
        &.print {
            div.cnt {
                padding-bottom: 100px;
            }
        }
        h2 {
            font-size: (@font-size-md * 4.5);
            &:before {
                width: 90px;
                height: 90px;
                line-height: 91px;
                font-size: 64px;
            }
            span {
                height: 90px;
                line-height: 120px;
            }
        }
        div.caption {
            font-size: @font-size-md;
            line-height: 30px;
            p {
                margin-top: -9px;
            }
            p + p, h4, ul {
                margin-top: 18px;
                list-style: none;
            }
            button {
                margin-top: 27px;
            }
        }
    }
    
}

@media (min-width: 1080px) {
    
    div.summary {
        div.cnt {
            padding: 80px;
        }
        h2 {
            font-size: (@font-size-md * 8);
            &:before {
                width: 128px;
                height: 128px;
                line-height: 128px;
                font-size: 80px;
            }
            span {
                height: 128px;
                line-height: 150px;
            }
        }
    }
    
}

/* Web */

div.web.summary {
    background: @web-bg-color;
    background-image: linear-gradient(@web-bg-color, @web-bg-color-lighten);
    color: @web-font-color;
    h2 {
        height: 184px;
        &:before {
            background: @web-icon-color;
            content: '\e602';
        }
        span {
            color: @web-heading-color;
            top: 185px;
        }
    }
    button {
        background: @web-button-color;
    }
}

@media (min-width: 768px) {
    
    div.web.summary {
        div.cnt {
            display: table;
            width: 100%;
            height: 635px;
        }
        h2 {
          height: 274px;
          span {
            top: 276px;
          }
        }
        div.caption {
            width: 236px;
        }
        p:first-child {
            &:after {
                background: url(/assets/img/web/web_section.jpg) no-repeat;
                background-size: 100% auto;
                content: ' ';
                position: absolute;
                top: 48px;
                right: 322px;
                bottom: 0;
                left: 175px;
            }
        }
    }
    
}

@media (min-width: 1080px) {
    
    div.web.summary {
        h2 {
          height: 443px;
          span {
            top: 446px;
          }
        }
        p:first-child {
            &:after {
                right: 404px;
                left: 296px;
            }
        }
    }
    
}

/* Print */

div.print.summary {
    background: @print-bg-color;
    color: @print-font-color;
    h2 {
        height: 209px;
        &:before {
            background: @print-icon-color;
            content: '\e604';
        }
        span {
            color: @print-heading-color;
            top: 214px;
        }
    }
    button {
        background: @print-button-color;
    }
}

@media (min-width: 768px) {
    
    div.print.summary {
        h2 {
          height: 312px;
          span {
            top: 319px;
          }
        }
        div.caption {
            width: 320px;
            padding-left: 60px;
        }
        p:first-child {
            &:after {
                background: url(/assets/img/print/print_section.jpg) no-repeat;
                background-size: cover;
                content: ' ';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 519px;
            }
        }
    }
    
}

@media (min-width: 1080px) {
    
    div.print.summary {
        h2 {
          height: 509px;
          span {
            top: 522px;
          }
        }
        div.caption {
            width: 340px;
            padding-left: 80px;
        }
        p:first-child {
            &:after {
                left: 640px;
            }
        }
    }
    
}