/* Site Palette */

@black: #000;
@white: #fff;

@light-gray: #dbdbdb;

@primary-color: #004579;
@primary-color-lighten: #0068b6;
@primary-color-highlight: #00acff;
@primary-color-accent: #ff6b00;
@primary-color-secondary-accent: #347728;

@tertiary-color: #4334ad;
@tertiary-color-highlight: #8668ff;
@tertiary-color-accent: #f7911d;
@tertiary-color-secondary-accent: #6685e5;

@body-bg-color: lighten(@header-bg-color, 5%);

@header-bg-color: lighten(@black, 6.666666666666667%);
@header-font-color: @white;
@header-link-color: @header-font-color;

@contact-form-bg-color: @light-gray;
@contact-form-border-color: darken(@light-gray, 20%);
@contact-form-button-color: @primary-color;

@web-bg-color: @primary-color;
@web-bg-color-lighten: @primary-color-lighten;
@web-font-color: @white;
@web-heading-color: @primary-color-highlight;
@web-icon-color: @primary-color-accent;
@web-button-color: @web-heading-color;

@print-bg-color: @tertiary-color;
@print-font-color: @white;
@print-heading-color: @tertiary-color-highlight;
@print-icon-color: @tertiary-color-accent;
@print-button-color: @tertiary-color-secondary-accent;

@modal-overlay-bg-color: fade(@modal-dialog-bg-color, 50%);
@modal-dialog-bg-color: @black;
@modal-heading-bg-color: lighten(@black, 6.666666666666667%);
@modal-heading-font-color: @white;

@footer-bg-color: @header-bg-color;
@footer-font-color: @header-font-color;
@footer-link-color: @header-font-color;

@facebook-icon-bg-color: #2e407a;
@google-icon-bg-color: #d53e30;
@soundcloud-icon-bg-color: #f76f0f;
@linkedin-icon-bg-color: #1a7fb8;

/* Font Sizes */

@font-size-xs: 12px;
@font-size-sm: 14px;
@font-size-md: 16px;
@font-size-lg: 24px;